@charset 'utf-8';

.connect {
    .title_area {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        padding: 0 16px;
        border-bottom: 1px solid #eff3f4;
        background-color: #fff;
        z-index: 1;

        .btn_back {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-right: 20px;
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            .icon_back {
                width: 20px;
                height: 20px;
            }

            .btn_text {
                @include blind;
            }
        }

        .title {
            font-size: 2rem;
            line-height: 53px;
        }
    }

    .recommend_area {
        overflow-y: auto;

        .label {
            display: block;
            padding: 0 16px;
            color: #0f1419;
            font-size: 2rem;
            font-weight: 800;
            line-height: 48px;
        }
    }
}
