@charset 'utf-8';

.login_section {
    max-width: 368px;
    margin: 0 auto;
    padding: 20px 0;

    .title {
        margin-top: 32px;
        font-size: 3.1rem;
        font-weight: 700;
    }

    .login_form {
        .email_input {
            margin-top: 24px;
        }

        .password_input {
            margin-top: 24px;
        }

        .submit_btn {
            height: 46px;
            margin-top: 24px;
        }
    }

    .link_area {
        margin-top: 32px;
        text-align: center;

        .signup_link {
            color: #1b95e0;

            &:focus {
                outline: none;
                text-decoration: underline;
            }
        }
    }
}
